#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --with gnome --buildsystem=meson

override_dh_auto_configure:
	dh_auto_configure -- \
		--libexec=/usr/lib \
		-Dunity_support=true \
		-Ddupe_detection=true \
		-Dface_detection=true\
		-Dudev=true

override_dh_gnome_clean:
	dh_gnome_clean --no-control
